# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# --- Chặn file rác của firmware_bh (VS Code + PlatformIO) ---
firmware_bh/.pio/
firmware_bh/.vscode/.browse.c_cpp.db*
firmware_bh/.vscode/c_cpp_properties.json
firmware_bh/.vscode/launch.json
firmware_bh/.vscode/ipch/
firmware_bh/.vscode/.cmaketools.json
firmware_bh/.gcc-flags.json
firmware_bh/build/
