<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV-hUBywi7zdn10dZYBnTKOCnSTsRdQHg</string>
	<key>GCM_SENDER_ID</key>
	<string>595943829773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireMonitorApp</string>
	<key>PROJECT_ID</key>
	<string>finalproject-3f736</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-3f736.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595943829773:ios:cc005c292f0ae7fbdb0044</string>
	<key>DATABASE_URL</key>
	<string>https://finalproject-3f736-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>